th.user_show_th {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 1.0rem;
  font-weight: bold;
  position: relative;
}


a.user_edit {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: #666;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

a.user_edit:hover {
  background-color: #ccc;
  color: #fff;
}
