.prf__whole{
  width: 30vw;
}

.user_note-show-whole{
  width: 100vw;
  background-color: #FFFFF0;
  padding: 25px;
}

.note-show-whole-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.user_show_tbr {
  width: 25vw;
  max-width: 500px; /* adjust the maximum width as needed */
  border-collapse: collapse;
}

.user_show_th {
  padding: 8px;
  background-color: #efefef;
  border: 1px solid #ccc;
}

.user_show_tb {
  padding: 8px;
  border: 1px solid #ccc;
  background-color: white;
}

.body_temperature-chart-class {
  width: calc((100vw - 30vw)/2);
  height: 300px;;
}

.pulse-chart-class {
  width: 500px;width: calc((100vw - 30vw)/2);
  height: 300px;
}

/* アルバム  */
.show_title{
  font-size: 2.4rem;
  white-space: nowrap;
  font-weight: 600;
  text-align: center;
  color: #503b30;
  margin: 40px auto 5px;
}

.show-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.show-note-img-contents {
  position: relative;
}

.show-note-img-content-date {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 5px;
  border-radius: 5px;
}

.show-note-img {
  width: 30vh;
  height: 30vh;
}