.prf__whole{
  width: 30%;
  margin-right: 35px;
}

.note-show-whole-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_show_tbr {
  width: 100%;
  max-width: 500px; /* adjust the maximum width as needed */
  margin-bottom: 20px;
  border-collapse: collapse;
}

.user_show_th {
  padding: 8px;
  background-color: #efefef;
  border: 1px solid #ccc;
}

.user_show_tb {
  padding: 8px;
  border: 1px solid #ccc;
}

.chart-class {
  max-width: 500px; /* adjust the maximum width as needed */
  width: 100%;
}